img {
  border: none; }

a {
  color: #8238A7; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  margin: 0;
  padding: 0; }

.section-light {
  background-color: #FAFAFA; }

.section-dark {
  background-color: #222;
  color: #fff; }
  .section-dark .section-header:after {
    background-color: #fff; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    height: 100px;
    width: 100px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

header {
  min-height: 400px;
  width: 100%;
  position: relative; }

.logo {
  width: 80px;
  height: 80px;
  margin: 40px 0;
  float: left; }
  .logo svg {
    fill: #fff; }

.hidden {
  display: none; }

.object-fit_cover {
  object-fit: cover; }

.toggle_menu {
  border: none;
  width: 80px;
  height: 80px;
  float: right;
  top: 40px;
  right: 40px;
  position: fixed;
  background-color: black;
  z-index: 100; }
  .toggle_menu .sandwich {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .toggle_menu .sandwich .sw-topper,
    .toggle_menu .sandwich .sw-bottom,
    .toggle_menu .sandwich .sw-footer {
      display: block;
      position: relative;
      top: 0;
      width: 40px;
      height: 2px;
      background: #fff;
      border: none;
      transition: transform 0.5s, top 0.2s; }
    .toggle_menu .sandwich .sw-bottom {
      top: 10px; }
    .toggle_menu .sandwich .sw-footer {
      top: 20px; }
  .toggle_menu .sandwich.active .sw-topper {
    top: 10px;
    transform: rotate(140deg); }
  .toggle_menu .sandwich.active .sw-bottom {
    top: 8px;
    transform: rotate(-140deg); }
  .toggle_menu .sandwich.active .sw-footer {
    opacity: 0;
    top: 0;
    transform: rotate(180deg); }

.top-wrap {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0; }
  .top-wrap .center {
    display: table-row; }
    .top-wrap .center .name-wrap {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .top-wrap .center .name-wrap h1 {
        font-family: AdineKirnbergRegular;
        border: 5px solid #fff;
        padding: 5px 25px;
        color: #fff;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 90px;
        -webkit-animation-delay: 0.5s;
        -o-animation-delay: 0.5s;
        animation-delay: 0.5s; }
        @media only screen and (max-width: 480px) {
          .top-wrap .center .name-wrap h1 {
            margin: 0 15px;
            padding: 5px 15px;
            font-size: 18px; } }

nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  z-index: 50;
  display: none; }
  nav ul {
    margin: 0;
    padding: 0;
    margin-top: 180px;
    text-align: center; }
    nav ul li {
      list-style: none;
      display: block; }
      nav ul li a {
        text-transform: uppercase;
        display: block;
        color: #fff;
        font-size: 14px;
        display: block;
        height: 60px;
        line-height: 60px; }
        nav ul li a:hover {
          background-color: rgba(255, 255, 255, 0.08); }

section {
  position: relative;
  padding: 70px 0 90px;
  display: block; }
  section .section-header h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase; }
  section .section-header p {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 30px; }
  section .section-header:after {
    content: "";
    width: 150px;
    height: 1px;
    left: 50%;
    margin-left: -75px;
    position: absolute;
    background-color: black; }
  section .section-main {
    color: #888; }
    section .section-main h3 {
      text-align: center;
      margin-bottom: 40px; }
    section .section-main p:nth-child(odd) {
      color: #8238A7; }
    section .section-main .person {
      text-align: center; }
      section .section-main .person img {
        display: inline-block;
        max-width: 250px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
        border-top-right-radius: 35px; }
    section .section-main .info li {
      list-style: none;
      padding: 10px 0;
      color: #888; }
    section .section-main .crit h4 {
      letter-spacing: 2px;
      color: #555;
      font-size: 14px; }

.section-content {
  padding-top: 60px; }
  .section-content .resume_icon i {
    font-size: 65px;
    margin-bottom: 30px; }
  .section-content .left-col {
    text-align: right; }
    @media only screen and (max-width: 480px) {
      .section-content .left-col {
        text-align: left; } }
  .section-content .right-col {
    text-align: left;
    border-left: 1px solid #D2D2D2; }
  .section-content .resume_socket {
    margin-bottom: 15px; }
    .section-content .resume_socket .year {
      font-weight: 600;
      font-style: italic;
      display: inline-block;
      padding: 0px 15px;
      margin-bottom: 5px;
      background-color: #8238A7;
      color: #FFF; }
    .section-content .resume_socket .descr {
      font-weight: 600;
      font-style: normal;
      text-transform: uppercase; }
  .section-content .paint-nav {
    margin-bottom: 60px; }
    .section-content .paint-nav ul {
      list-style: none;
      text-align: center;
      color: #888; }
      .section-content .paint-nav ul li {
        display: inline-block;
        cursor: pointer;
        margin: 0 10px;
        letter-spacing: 2px; }
    .section-content .paint-nav .active {
      border-bottom: 1px solid #FF6347;
      color: #fff; }
  .section-content .paint-list .img-container {
    padding: 0;
    margin: 0;
    object-fit: cover; }
    .section-content .paint-list .img-container img {
      width: 100%; }
  .section-content .contact-box i {
    font-size: 40px; }
  .section-content .contact-box a {
    line-height: 40px;
    text-align: vertical; }
  .section-content .form-block lable {
    color: #888;
    letter-spacing: 2px; }
  .section-content .form-block span {
    color: #FF6347;
    font-weight: 700;
    font-size: 18px; }
  .section-content .form-block input,
  .section-content .form-block textarea {
    display: block;
    width: 100%;
    border: 1px solid #CCC;
    margin: 5px 0 10px 0;
    background-color: transparent;
    line-height: 40px;
    text-indent: 10px;
    resize: none; }
  .section-content .form-block form button {
    float: right;
    background-color: #FF6347;
    letter-spacing: 2px;
    border: none;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 0 15px; }
  .section-content .form-block .text-danger {
    font-size: 11px;
    margin-top: 5px;
    display: block; }
    .section-content .form-block .text-danger ul,
    .section-content .form-block .text-danger li {
      margin: 0;
      padding: 0;
      list-style-type: none; }
  .section-content .p-btn .paint-btn {
    height: 40px;
    padding: 0 15px;
    margin: 60px auto 0 auto;
    background-color: #FF6347;
    letter-spacing: 2px;
    border: none;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    display: block;
    text-align: center; }
    .section-content .p-btn .paint-btn a {
      display: block;
      color: #fff; }

#paint-list .mix {
  display: none; }

footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 300; }

.all-paint-wrap {
  background-color: #D3DAE0;
  width: 100%; }
  .all-paint-wrap .paint-wrap {
    background-color: #fff;
    display: inline-block;
    margin: 10px;
    box-shadow: 9px 9px 9px #888;
    overflow: hidden;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      .all-paint-wrap .paint-wrap {
        display: block;
        text-align: center; } }
    .all-paint-wrap .paint-wrap img {
      max-height: 250px;
      margin: 10px; }
      @media only screen and (max-width: 768px) {
        .all-paint-wrap .paint-wrap img {
          max-height: 150px; } }
    .all-paint-wrap .paint-wrap p {
      font-size: 14px;
      font-weight: 600;
      padding: 0 15px;
      text-align: left; }

/*# sourceMappingURL=main.css.map */
